<!-- get contents from base.html: home is inheriting from base.html -->
{% extends "base.html" %}

{% block title %}
Create Password
{% endblock title %}

{% block content %}

<div class="flex flex-col text-center w-full mb-12">
    <h1 class="text-2xl font-bold text-red-400">Create Password</h1>
<br>
<!-- create a django form -->
<form action="{% url 'password' %}">

    <select name="length" id="">
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <!-- to make 12 the default  -->
        <option value="12" selected >12</option> 
        <option value="13">13</option>
        <option value="14">14</option>
    </select>

    <br>
    <input type="checkbox" name="uppercase" /> Uppercase
    <br>
    <input type="checkbox" name="numbers" /> Numbers
    <br>
    <input type="checkbox" name="special" class="mb-12"/> Special Characters
    <br>

    <input type="submit" value="Generate" class="flex mx-auto text-white bg-indigo-400 border-0 py-2 px-8 focus:outline-none hover:bg-red-600 rounded text-lg"/>

</form>


</div>


{% endblock content %}