<!-- get contents from base.html: home is inheriting from base.html -->
{% extends "base.html" %}


{% block content %}
<!-- creating a link functionality to return to home page on this page instead of going back to refresh to home page = -->
<!-- <h1>This is your Password</h1> -->
<!-- create an unorderd list -->
<div class="container mx-auto">
    
        <h1>This is your password</h1> <br>
        <a href="{% url 'home' %}" class="cursor-pointer">Home</a>.
        <br>

    <h2 class="inline-block py-3 px-6 m-8 rounded-full border-8 border-indigo-600 bg-blue-50 text-blue-400 text-6xl font-medium tracking-widest">{{password}}</h2>
</div>

{% endblock content %}